*{
  box-sizing: border-box;
  --Dc: hsl(185, 75%, 39%);
  --Vddb: hsl(229, 23%, 23%);
  --Dgb: hsl(227, 10%, 46%);
  --Dg: hsl(0, 0%, 59%);

}

/*font-size = 18px*/

body{ /* Tout le contenu du body sera aligné verticalement et sera centré sur les deux axes.
        L'axe principale ici est verticale donc align-items visera l'axe horizontale */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Dc);
  height: 800px; /* Important pour pouvoir centrer le contenu verticalement. Sinon on ne constate pas le centrage*/
  width: 100%;
  overflow: hidden; /* Important : Pour que tout le contenu qui pourrait dépasser l'élément parent soit coupé.
                       Sinon, ce contenu peut augmenter la taille du parent si ce dernier n'A pas de taille précise*/
  background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-position:  bottom 50vh right 50vw, top 50vh left 50vw; /*(Apprendre comment s'en servir)*/
  background-repeat: no-repeat;
}


.container{
  z-index: 1; /* Pour éviter que les formes dans les deux coins soient dessous*/
  background-color: white;
  height: 360px;
  width: 340px;
  border-radius: 15px;
  box-sizing: border-box; /* Le contenu prendra toute la place relative à la  taille parent */
  overflow: hidden;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  color: var(--Dgb);
  font-weight: 400;
  margin-bottom: 20px;
  box-shadow: 1px 1px 20px black; /*(1px d'ombre pour le décalage horiz.;  1 pour le décalage verti.; 20px d'adoucissement et une 4ème valeur serait de diffusion de l'ombre */
}

.top{
  height: 140px;
  background-image: url(images/bg-pattern-card.svg);
}

.victor{
  border-radius: 50px 50px;
  border: 5px solid white;
  position: relative;
  top:80px;
  transition : all .2s ease-in-out;
}


.victor:hover {
  transform: scale(1.1, 1.1); /* POur zommer lorsqu'on hover*/
}


.par1{
  margin-top: 65px;
}

.town{
  padding-bottom: 10px;
}

span{
  font-weight: 700;
  color: black;
}


.stats{
  justify-content: center;
  border-top: 0.050px var(--Dg) solid;
  display: flex;
  flex-direction: row;
  padding-top: 25px;
}

.stat{
  padding-left: 15px;
  padding-right: 40px;
  font-weight: 400;
  font-size: 0.575em;
  letter-spacing: 1px;
}

.bold{
  letter-spacing: normal;
  font-weight: 700;
  color: black;
  font-size: 16px;
  padding-bottom: 5px;
}

  .attribution { font-size: 11px; text-align: center; z-index: 1;}
  .attribution a { color: white; }


